{% extends 'base.html' %} {% block og_url %}https://www.ayninfotech.com{{ url_for(request.endpoint) }}{% endblock %}
{% block canon %}/careers/{% endblock %} {% block page_title %}AYN InfoTech | Current Jobs Openings |Careers{% endblock %}
{% block meta_description%}Join AYN InfoTech and be a part of the fastest growing IT company. Explore job opportunities in tech, marketing,
sales, operation and HR department.{% endblock %}
{% block meta_keywords %}Build Your Career, ayninfotech hiring, ayninfotech careers, ayninfotech
jobs, pune jobs, software jobs in pune, job profiles at ayninfotech{% endblock %} {% block custom_css %}{% endblock %}
{% block content %}
<nav class="navigation" id="mainNav">
    <a class="navigation__link1" href="#1"><span>Section 1</span></a>
    <a class="navigation__link2" href="#2"><span>Section 2</span></a>
    <a class="navigation__link3" href="#3"><span>Section 3</span></a>

</nav>
<section class="AynHeroImg page-section" id="1"
    style="background-image: url('../static/images/HomePageBg/HomeHero.png');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="ProductHeroContent AboutUs">
                    <h1>Build Your Career
                    </h1>
                    <!-- <h4>We are developers</h4> -->
                    <p>Build, Grow and Explore your career at AYN InfoTech, where vision meets reality.
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <!-- <img src="images/about/About Us/1-Home – 27@2x.png" class="img-fluid"> -->
                <div class="HomeImages" style="background-image: url('../static/images/HomePageBg/HomeTitle.png');">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="BuildHealthCare heightAuto page-section" id="2">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img12" />
                            <figcaption>
                                <div>
                                    <h4>Artificial Intelligence / Machine Learning </h4>
                                    <p> <a href="/careers/machine-learning" class="btn ProductBtn mt-2">Read More</a>
                                    </p>

                                </div>
                            </figcaption>
                        </figure>

                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Nodejs developer & Team Lead</h4>
                                    <p> <a href="/careers/nodejs" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img12" />
                            <figcaption>
                                <div>
                                    <h4>React Native Developer & Team Lead</h4>
                                    <p> <a href="/careers/react-native/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>

                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Technical Lead (Backend)

                                    </h4>
                                    <p> <a href="/careers/technical-lead" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Business Analyst

                                    </h4>
                                    <p> <a href="/careers/business-analyst" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>

                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Software Architect

                                    </h4>
                                    <p> <a href="/careers/software-architect" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Business Development Manager

                                    </h4>
                                    <p> <a href="/careers/bdm" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Business Developement Executive

                                    </h4>
                                    <p> <a href="/careers/bde" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Technical Writer

                                    </h4>
                                    <p> <a href="/careers/technical-writer" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Blockchain Developer

                                    </h4>
                                    <p> <a href="/careers/blockchain-developer/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Blockchain Architect or Sr. Blockchain Developer

                                    </h4>
                                    <p> <a href="/careers/blockchain-architect/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>HR IT Recruiter

                                    </h4>
                                    <p> <a href="/careers/hr-it-recruiter/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>UI Developer

                                    </h4>
                                    <p> <a href="/careers/ui-developer/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Reactjs Developer

                                    </h4>
                                    <p> <a href="/careers/reactjs-developer/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>UX Designer

                                    </h4>
                                    <p> <a href="/careers/ux-designer/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Angular Developer

                                    </h4>
                                    <p> <a href="/careers/angular-developer/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Technical Manager

                                    </h4>
                                    <p> <a href="/careers/technical-manager/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>CTO

                                    </h4>
                                    <p> <a href="/careers/cto/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Sales Head

                                    </h4>
                                    <p> <a href="/careers/sales-head/" class="btn ProductBtn mt-2">Read More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="AynWorkStrategies page-section" id="3"
    style="background-image: url('/static/images/HomePageBg/Statergies.png');">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 mb-3 Heading LifeAtAyn">
                    <h3>Explore Life at AYN</h3>
                </div>
                <div class="col-md-5 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img12" />
                            <figcaption>
                                <div>
                                    <h4>About Us </h4>
                                    <p> <a href="{{ url_for('about_us_new') }}" class="btn ProductBtn mt-2">Read
                                            More</a>
                                    </p>

                                </div>
                            </figcaption>
                        </figure>

                    </div>
                </div>
                <div class="col-md-7 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img1" />
                            <figcaption>
                                <div>
                                    <h4>Our Values</h4>
                                    <p> <a href="{{ url_for('mod_about.our_story') }}" class="btn ProductBtn mt-2">Read
                                            More</a>
                                    </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-12 p-0">
                    <div class="grid">
                        <figure class="effect-lily">
                            <img src="/static/images/Product/whatis/experience.jpg" alt="img12" />
                            <figcaption>
                                <div>
                                    <h4>Leadership </h4>
                                    <p> <a href="{{ url_for('mod_about.leadership') }}" class="btn ProductBtn mt-2">Read
                                            More</a>
                                    </p>
                                </div>
                            </figcaption>
                        </figure>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}