{% extends 'base.html' %} {% block og_url %}https://www.ayninfotech.com{{ url_for(request.endpoint) }}{% endblock %}
{% block canon %}{{ url_for(request.endpoint) }}{% endblock %} {% block page_title %}Privacy Policy | AYN InfoTech
Limited{% endblock %} {%
block meta_description %}The basis of this data privacy protection policy is to provide comprehensive information about
the collection, processing, and use of your data.{% endblock %} {% block meta_keywords %}Privacy Policy{% endblock %} {% block custom_css
%}{% endblock %} {% block content %}

<section class="AynHeroImg page-section" id="1"
    style="background-image: url('../static/images/HomePageBg/HomeHero.png');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="ProductHeroContent AboutUs">
                    <h1>Privacy Policy
                    </h1>
                    <!-- <h4>We are developers</h4> -->
                    <p>When you use our services, you are putting trust in us by sharing your information. We
                        understand this responsibility and protect your data effectively.
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <!-- <img src="images/about/About Us/1-Home – 27@2x.png" class="img-fluid"> -->
                <div class="HomeImages" style="background-image: url('../static/images/HomePageBg/HomeTitle.png');">
                </div>
            </div>

        </div>
    </div>
</section>
<section class="privacy page-section" id="1">
    <div class="container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 backgrondPrivacy">
                    <div class="privacyContent">
                        <h4>Basis</h4>
                        <p>The basis of data privacy protection policy is to provide comprehensive information
                            about the collection, processing, and use of your data.
                        </p>
                        <p>This privacy policy is meant for you to understand:
                        </p>
                        <ul>
                            <li>How we use your information</li>
                            <li>How you can update your data
                            </li>
                            <li>How you can export or delete your data
                            </li>
                            <li>What rights you have concerning our data processing
                            </li>
                        </ul>
                        <p>This data privacy policy is applicable only for the use of personal data on our
                            website ayninfotech.com, including all the subpages. This policy is inapplicable to
                            any information collected from an offline source, social media or via channels
                            other than this website.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 ">

                    <div class="privacyContent">
                        <h4>How we use your information
                        </h4>
                        <p>We use your information in various ways, including: </p>
                        <ul>
                            <li>Operate, and maintain our website. </li>
                            <li>Personalize, improve, and expand our website. </li>
                            <li>Analyze and understand how you use our website. </li>
                            <li>Develop new products, services, features, and functionalities. </li>
                            <li>Communicate directly or through our partners, customer service, and provide you
                                with updates regarding the website and marketing purposes.
                            </li>
                            <li>Send you emails and updates.
                            </li>
                            <li>Analyze, find, and prevent fraud.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class="privacyContent ">
                        <h4>Log Files </h4>
                        <p>AYN InfoTech Limited follows a standard method of using log files. When you drop by
                            our website, your browser sends data to our servers. We use this information to
                            maintain and establish connections. This private data also include your
                            IP address. Moreover, the following data is also collected:
                        </p>
                        <ul>
                            <li>Browser used. </li>
                            <li>Operating system information. </li>
                            <li>Source from which you reached the website. </li>
                            <li>Connecting site (next site). </li>
                            <li>Referrer (previous site). </li>
                            <li>IP address. </li>
                            <li>Internet service provider. </li>
                            <li>Number of clicks. </li>
                        </ul>
                        <p>The purpose of the information is to analyze trends, administer the site, track
                            users' movement on the website, and gather demographic information.
                        </p>
                    </div>

                </div>
                <div class="col-md-6 backgrondPrivacy">
                    <div class="privacyContent">
                        <h4>Contact Form
                        </h4>
                        <p>You can send us a query at any time through the contact form on our website; you will
                            be asked to enter full name, mobile number and email address.
                        </p>
                        <p>The above data is mandatory. Any other information provided by you is provided
                            voluntarily. The information provided by you will be used for further communication
                            by our team.
                        </p>
                        <p>The legal basis depends on your query. Usually, our legitimate interest in making
                            available the contact functionality and replying to your question. If your query
                            relates to a conclusion of any contract with us, then processing will be
                            based on this pre-contractual responsibility. </p>
                        <p>Your data will be deleted when your query has been resolved. Where we enter into a
                            contract, if necessary, we will continue to process the data for the contract.
                        </p>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-6 backgrondPrivacy">
                    <div class="privacyContent">
                        <h4> Third-Party Privacy Policies
                        </h4>
                        <p>AYN Infotech Limited's Privacy Policy does not refer to other websites or
                            advertisements. Thus, we advise you to discuss the respective Privacy Policies of
                            these third-party ad servers for more detailed information. It may include their
                            instructions and practices about how to opt-out of certain options. You can also
                            select to disable cookies from the browser you used.
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="privacyContent">
                        <h4>Advertising Partners' Privacy Policies
                        </h4>
                        <p>Advertising network or third-party ad server uses technologies like cookies, Web
                            Beacons, or JavaScript that is used in their links and advertisement that appear on
                            AYN InfoTech Limited, which are sent directly to users' browsers. These
                            technologies are used to measure the potency of their advertising campaigns and to
                            personalize the content you see on the website.
                        </p>
                        <p>Note that AYN Infotech Limited has no access to or control over these cookies used by
                            third-party advertisers. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}