{% extends 'base.html' %} {% block og_url %}https://www.ayninfotech.com{{ url_for(request.endpoint) }}{% endblock %}
{% block canon %}{{ url_for(request.endpoint) }}{% endblock %} {% block page_title %}About Us | AYN InfoTech
Limited{% endblock %} {% block
meta_description %}AYN InfoTech is an independent, leading IT firm specialized in digital transformation with efficient
Enterprise business applications and implementations.{% endblock %} {% block meta_keywords %}About Us, Mobile & Web
Application Development, Customized Software Development, Software Development, IT Services{% endblock %} {% block
custom_css %}{% endblock %} {% block content %}
<nav class="navigation" id="mainNav">
    <a class="navigation__link1" href="#1"><span>Section 1</span></a>
    <a class="navigation__link2" href="#2"><span>Section 2</span></a>
    <a class="navigation__link3" href="#3"><span>Section 3</span></a>
    <a class="navigation__link4" href="#4"><span>Section 4</span></a>

</nav>
<section class="AynHeroImg page-section" id="1"
    style="background-image: url('../static/images/HomePageBg/HomeHero.png');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="ProductHeroContent AboutUs">
                    <h1>Frequently Asked Questions

                    </h1>
                    <p>Get to know us better, our work culture, our methodologies, and the services we provide to
                        our customers. Still have questions, write to us directly at sales@ayninfotech.com
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="HomeImages" style="background-image: url('../static/images/HomePageBg/HomeTitle.png');">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq page-section" id="2">

    <div class="container">
        <div class="">
            <div class="bs-example">
                <div class="accordion" id="accordionExample">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link" data-toggle="collapse"
                                            data-target="#collapseOne">1. What is the process like when working with
                                            AYN InfoTech?<i class="fa fa-plus"></i></button>
                                    </h2>
                                </div>
                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">

                                        <p>We inspire our clients to be a part of the entire
                                            project. Our process aims for constant communication,
                                            co-operation and transparency from development through delivery.
                                        </p>
                                        <p>Our process consists of four stages:
                                        </p>
                                        <p>Design, Development, Deployment, and Support &amp; Maintenance.
                                            Our process is driven to rapidly iterate and deliver a product
                                            of superior quality to the market, one that adapts to
                                            ever-changing markets and competition.
                                        </p>
                                        <p>Learn more about the first stage of our process, the discovery
                                            step.
                                        </p>
                                        <li><b>Discovery &amp; Design Phase</b>
                                        </li>
                                        <ol>
                                            <li>User Personas</li>
                                            <li>Sitemap or User Flows</li>
                                            <li>Project Charter and Backlog</li>
                                            <li>User Experience Design</li>
                                            <li>Visual Design</li>
                                        </ol>
                                        <li><b>Development Phase</b>
                                        </li>
                                        <ol>
                                            <li>Cross-Functional Team</li>
                                            <li>Daily Stand-Ups</li>
                                            <li>Continuous Integration and Deployment</li>
                                            <li>Working Software Delivered Each Sprint</li>
                                            <li>Testing throughout Every Iteration</li>
                                            <li>Continuously Improving Backlog</li>
                                            <li>Deployment Phase</li>
                                        </ol>
                                        <li><b>Deployment of Solution</b>
                                        </li>
                                        <ol>
                                            <li>Artifacts Transfer to Client</li>
                                            <li>Client Deployment Education</li>
                                        </ol>
                                        <li><b>Support and Maintenance</b>
                                        </li>
                                        <ol>
                                            <li>Address Live User Needs</li>
                                            <li>Bug Fixes</li>
                                            <li>Minor Feature Improvements</li>
                                        </ol>


                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapseTwo">2. Do you provide any
                                            other services apart from
                                            Software Development?<i class="fa fa-plus"></i></button>
                                    </h2>
                                </div>
                                <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Following are the services that we provide:</p>
                                        <ol>
                                            <li>Digital Marketing</li>
                                            <li>Manpower Sourcing</li>
                                            <li>Process Implementation Partnership</li>
                                            <li>Revamp Software</li>
                                            <li>Mobile App Design</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapseThree">3. Which
                                            technologies
                                            are you working on?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We use various technologies like Artificial Intelligence,
                                            Blockchain,
                                            the
                                            Internet of Things, and Machine Learning.</p>
                                        <ol>
                                            <li>For the backend, we use Python, Django, NodeJS, and PHP.
                                            </li>
                                            <li>For Front-end, we use Angular, React js, and PHP.
                                            </li>
                                            <li>For mobile applications, we use React Native, Flutter, Swift,
                                                kotlin, and Android.
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link" data-toggle="collapse"
                                            data-target="#collapse4">4. Which platform do you use for project
                                            management?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse4" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>At AYN InfoTech, We are using Jira and Trello platforms in project
                                            management. These are the best tools to track the project status
                                            accurately and manage workload of the project team.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse5">5. Which products have
                                            you
                                            worked on earlier?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse5" class="collapse " aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We have worked on Enterprise Resource Planning, Customer Relationship
                                            Management, Core Banking Software, hotel management; fleet management,
                                            hospital management, taxi aggregator, EHR management, fantasy sport, and
                                            e-commerce software are some of our work.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse6">6. What is your average
                                            team strength in any
                                            project?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse6" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>At AYN, our team size will depend on project size as small scale projects
                                            may have 4-6 resources, Medium size projects may have 7-10 resources and
                                            large scale projects may have 10-30 resources. We are preferring
                                            Waterfall and Agile - Scrum methodologies as per the project
                                            requirements to deliver valuable products to our customers.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link" data-toggle="collapse"
                                            data-target="#collapse7">7. How does AYN InfoTech assure the
                                            confidentiality of data?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse7" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We assure confidentiality of the information by the following factors:
                                        </p>
                                        <ol>
                                            <li>We sign Confidentiality Agreements and NDA as required by clients.
                                            </li>
                                            <li>All employees are full-time employees and are bound by the company's
                                                Confidentiality and Non-Disclosure clauses.</li>
                                            <li>For sensitive projects, we create an isolated cell that is
                                                disconnected from any public network.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse8">8. Is it better to offer
                                            you the project or hire
                                            my own software development team?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse8" class="collapse " aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Hiring a dedicated software development team is a smart choice also has
                                            drawbacks as it is a very time-consuming process, and the cost of
                                            keeping an in-house development team is huge. Hiring us can save a lot
                                            of time and money. We provide you with job completion assurance and
                                            support after the completion of the project.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse9">9. How do you assure
                                            solid
                                            projects and their
                                            quality?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse9" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Our team of developers develops quality code. We strongly believe that
                                            the creation step is the strongest in building a better innovative
                                            solution.</p>
                                        <p>Every project undergoes the hands of suitable Testing/QA professionals,
                                            where they use advanced techniques like block-box testing, smoke
                                            testing, regression testing, functional testing, and integration
                                            testing.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse10">10. How are clients
                                            kept
                                            updated with the project
                                            status?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse10" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We will provide you with regular project updates via email and ad-hoc
                                            meetings, i.e.,teleconference, live chat and Video Conferencing.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse11">11. How much time will
                                            it
                                            require to complete the
                                            project?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse11" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>It depends on the modules of the project. Our tech team will analyze and
                                            will provide you with the proper timeline.</p>

                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse12">12. Will, be the
                                            project
                                            manager be assigned to
                                            update me about the project? Will this contact person available
                                            throughout the time as the software is being developed?<i
                                                class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse12" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p> Yes, either a project manager or a key account manager will be assigned
                                            to provide a timely update regarding the project and understand your
                                            requirements throughout the project.</p>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse13">13. What benefits do
                                            you
                                            provide?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse13" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>All projects that we take has the below benefits:</p>
                                        <ol>
                                            <li>Confidentiality Guarantee: All client data will be kept
                                                confidential.</li>
                                            <li>Price Assurity: Around 50% cost-saving as compared to on-site
                                                development.</li>
                                            <li>Assured Results: Progress-linked payments weighted to the end.</li>
                                            <li>Timely Deliver: Project timelines have varying importance in the
                                                workplace.</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link" data-toggle="collapse"
                                            data-target="#collapse14">14. Can you upgrade software as per future
                                            requirements or technology?<i class="fa fa-plus"></i> </button>
                                    </h2>
                                </div>
                                <div id="collapse14" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Sure, we are happy to help you to upgrade software as per the
                                            requirements or commence of new technologies.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingTwo">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse15">15. Will you double the
                                            team
                                            size involved in the project as per requirements?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse15" class="collapse " aria-labelledby="headingTwo"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Sure, the team size can be increased or decrease as per your necessity.
                                            The pricing will also vary accordingly.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse16">16. The idea is good,
                                            but
                                            we
                                            are unsure. Can we do a pilot project?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse16" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We always welcome clients to try our products and services. After
                                            demonstrating all the abilities in a pilot project, we succeeded in
                                            continuing the relationship with clients.</p>
                                        <p>Our preferred pilot project is either an independent project or a
                                            subsystem of a larger project. Pilot projects are typically for 2-4
                                            weeks duration with hourly charges.</p>
                                        <p>Moreover, at AYN InfoTech, we invest the same amount of time and
                                            resources in Pilot projects as in real projects.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse17">17. I have an idea,
                                            should
                                            I go for a mobile application or a web application?<i
                                                class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse17" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>It varies as per the idea. Our subject matter expertise would recommend
                                            you only the best solution.</p>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse18">18. Can we provide a
                                            tech-savvy person from our end to work on our project?<i
                                                class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse18" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>It will not be required as we have a dedicated team of developers,
                                            testers, and business analysts for your project. We have a project
                                            manager and business analysts who would timely update you regarding the
                                            project's
                                            status.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse19">19. What types of
                                            pricing
                                            do we offer?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse19" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <ol>
                                            <li>Fixed cost project</li>
                                            <li>Per hour billing</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse20">20. Can I upgrade my
                                            software in the future?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse20" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Sure, you can upgrade software as per your requirements in the future.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse21">21. How long will you
                                            provide support for the product?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse21" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We have a dedicated support team that will be assigned to you in AMC.The
                                            initial contract generally covers free support for 3 months.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse22">22. Where is your
                                            development team located?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse22" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>All of our team, including all developers, are based in India. We never
                                            outsource our work overseas to ensure our quality services are delivered
                                            on-time and on-budget.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse23">23. What Languages are
                                            you
                                            experienced coding in?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse23" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>Our developers have diverse backgrounds in the engineering sector,
                                            allowing us to develop products in the language that will be best fit
                                            your specific project specifications for optimal performance. We have
                                            extensive experience in native mobile development languages for iOS and
                                            Android and all popular web languages, including HTML/CSS, JavaScript,
                                            ReactJS, Angular, Java, PHP, Python and several web-based frameworks.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse24">24. How long have you
                                            been
                                            in the IT Industry?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse24" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>AYN InfoTech is serving for over a decade. Its headquartered in Pune,
                                            Maharashtra, India, with three branches located in the UK, UAE and US.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header" id="headingThree">
                                    <h2 class="mb-0">
                                        <button type="button" class="btn btn_acc btn-link collapsed"
                                            data-toggle="collapse" data-target="#collapse25">25. What is expected
                                            from
                                            clients during project development?<i class="fa fa-plus"></i>
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse25" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <p>We expect the information necessary and all the requirements you have
                                            regarding the project properly.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}