{% extends 'base.html' %} {% block og_url %}https://www.ayninfotech.com{{ url_for(request.endpoint) }}{% endblock %}
{% block canon %}{{ url_for(request.endpoint) }}{% endblock %} {% block page_title %}Investor Relations | AYN InfoTech Limited{% endblock
%} {% block meta_description %}Investor Relations. AYN InfoTech is the flagship company of AYN Group of companies
organized and registered under the laws of the Ministry of Corporate Affairs India.{% endblock %}
{% block meta_keywords %}Investor Relations{%
endblock %} {% block custom_css %}{% endblock %} {% block content %}
<nav class="navigation" id="mainNav">
    <a class="navigation__link1" href="#1"><span>Section 1</span></a>
    <a class="navigation__link2" href="#2"><span>Section 2</span></a>

</nav>
<!--Investor Relations-->
<section class="AynHeroImg page-section" id="1"
    style="background-image: url('../static/images/HomePageBg/HomeHero.png');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="ProductHeroContent InvestorRelation">
                    <h1>Investor Relations

                    </h1>
                    <!-- <h4>We are developers</h4> -->
                    <p>AYN InfoTech is executing a focused and robust strategy to deliver superior value through
                        capitalizing profitable growth opportunities in the expanding IT markets in various high
                        growth sectors like Banking, life sciences, and healthcare through sustained efforts to
                        build next-generation technologies.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="HomeImages" style="background-image: url('../static/images/HomePageBg/HomeTitle.png');">
                </div>
            </div>
        </div>
    </div>
</section>

<!--How we Work with Clients-->
<section class="AynWorkStrategies heightAuto d-flex align-items-center page-section" id="2"
    style="background-image: url('../static/images/Product/');">
    <div class="container">
        <div class="text-center LeveragingContent HowWeWorkWith">
            <h3>Ho<span>w we</span> Work with Clients
            </h3>
            <p>
                An ambitious vision for a cardless future, a class strategy of going forward, strong
                business momentum & an inspired organization
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="LeveragingContent">
                    <p>We are striving to become global leaders in implementing AI and ML-based solutions to complex
                        problems in our focused industries. With a portfolio of technologies to empower customers
                        from start to finish in the IT Industry, we are delivering superior value adds to the
                        customers. In this challenging world, our approach is to help customers solve their most
                        difficult and persistent problems using IT in a faster, better, and more efficient manner.
                    </p>
                    <p>Over more than three years, we have built a unique competitive advantage for AYN InfoTech:
                        deep relationships with customers across the continuum from academic research, to
                        pharmaceutical development, to healthcare, diagnostics, logistics & Supply chain, Utilities,
                        Mobility, Hospitality, Banking, and other applications. We partner with researchers and
                        collaboratively create superior solutions and technologies, developing and commercializing
                        promising applications and platforms for various Industry applications.
                    </p>
                    <p>AYN InfoTech is committed to innovation in IT, through cutting-edge R&D at our excellence
                        centers and targeted talent acquisitions that expand our presence in growing fields. We
                        focus our resources to deliver growth in promising areas; We provide state-of-the-art,
                        cost-effective workplaces that drive our idea of collaborative development and contribution
                        towards society.

                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="LeveragingContent">
                    <!-- <h4>Our objective is simple !</h4> -->
                    <p>Geographically, AYN InfoTech has robust product portfolios and the desired talent pool. Our
                        sales efforts are in major markets of North America, Europe, the Middle East, and
                        Asia-Pacific regions. We continue our efforts to expand in emerging markets, resulting in
                        rapid growth in countries where IT spending is booming.
                    </p>
                    <p>We nurture a highly talented global workforce and have robust governance at the executive and
                        board levels. Our work culture values focus on solutions, accountability, and
                        entrepreneurial decision making.
                    </p>
                    <p>In accelerating AYN InfoTech's growth trajectory, we are steering the business to deliver
                        operating leverage and enhanced profitability and shareholder value. AYN InfoTech is making
                        a long-term difference in the world by creating a difference in the lives of all
                        stakeholders customers, investors, employees, community, and vendors.

                    </p>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="LeveragingContent">
                    <p>We are striving to become global leaders in implementing AI and ML-based solutions to complex
                        problems in our focused industries. With a portfolio of technologies to empower customers
                        from start to finish in the IT Industry, we are delivering superior value adds to the
                        customers. In this challenging world, our approach is to help customers solve their most
                        difficult and persistent problems using IT in a faster, better, and more efficient manner.
                    </p>
                    <p>Over more than three years, we have built a unique competitive advantage for AYN InfoTech:
                        deep relationships with customers across the continuum from academic research, to
                        pharmaceutical development, to healthcare, diagnostics, logistics & Supply chain, Utilities,
                        Mobility, Hospitality, Banking, and other applications. We partner with researchers and
                        collaboratively create superior solutions and technologies, developing and commercializing
                        promising applications and platforms for various Industry applications.
                    </p>
                    <p>AYN InfoTech is committed to innovation in IT, through cutting-edge R&D at our excellence
                        centers and targeted talent acquisitions that expand our presence in growing fields. We
                        focus our resources to deliver growth in promising areas; We provide state-of-the-art,
                        cost-effective workplaces that drive our idea of collaborative development and contribution
                        towards society.

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}