{% extends 'base.html' %} {% block og_url %}https://www.ayninfotech.com{{ url_for(request.endpoint) }}{% endblock %}
{% block canon %}{{ url_for(request.endpoint) }}{% endblock %} {% block page_title %}Leadership | AYN InfoTech
Limited{% endblock %} {% block
meta_description %}Leadership. AYN InfoTech is the fastest growing IT company in India. We have a powerful team of
people elected by us to represent our firm globally.{% endblock %} {% block meta_keywords %}Leadership, Strategising
Growth, Innovation, CSR Activities{% endblock %} {% block
custom_css %}{% endblock %} {% block content %}
<nav class="navigation" id="mainNav">
    <a class="navigation__link1" href="#1"><span>Section 1</span></a>
    <a class="navigation__link2" href="#2"><span>Section 2</span></a>
    <a class="navigation__link3" href="#3"><span>Section 3</span></a>
    <a class="navigation__link4" href="#4"><span>Section 4</span></a>

</nav>
<!--Our Leadership-->
<section class="AynHeroImg page-section" id="1"
    style="background-image: url('../static/images/HomePageBg/HomeHero.png');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="ProductHeroContent LeadershipHero">
                    <h1>Our Leadership
                    </h1>
                    <!-- <h4>We are developers</h4> -->
                    <p>Natural born leaders inspiring innovation and strategising growth, bringing our vision closer
                        to reality every day.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="HomeImages" style="background-image: url('../static/images/HomePageBg/HomeTitle.png');">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Message from founder  -->
<section class="AynWorkStrategies  d-flex align-items-center page-section" id="2"
    style="background-image: url('../static/images/Product/');">
    <div class="container">
        <div class="text-center LeveragingContent Founder">
            <h3>Message from <span>Founder</span>

            </h3>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">

                <div class="">
                    <img src="../static/images/Services/AI-Hero-33.svg" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <div class="LeveragingContent">
                    <h5>Yakub Sheikh
                    </h5>
                    <p>CEO & Founder</p>
                    <!-- <h4>Our objective is simple !</h4> -->
                    <p>“ We are determined to continue our role as a responsible company and will inculcate the
                        practices of responsible business operations in our employees, clients, suppliers and
                        partners.”
                    </p>
                    <p>“We, as an organisation, will collectively follow the same thought process to face the
                        challenges of sustainability with everyone’s efforts, understanding and full commitment.”
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Vision & Mission
  -->
<section class="AynWorkStrategies  d-flex align-items-center page-section" id="3"
    style="background-image: url('../static/images/Product/');">
    <div class="container">

        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="LeveragingContent leadership">
                    <h4>AN AMBITIOUS VISION FOR A CARDLESS FUTURE, A CLASS STRATEGY OF GOING FORWARD, STRONG
                        BUSINESS MOMENTUM & AN INSPIRED ORGANIZATION
                    </h4>
                    <!-- <h4>Our objective is simple !</h4> -->
                    <p>AYN is an amalgam of future-ready technologies focused on creating products for the next
                        generation. AYN is not just a company, it’s a vision of a greater future for all of us. For
                        more than a decade AYN InfoTech has believed in building a responsible business operation
                        which means not just to be legally compliant but also to be empathetic to all the
                        stakeholders.
                    </p>
                    <p>
                        Our business ethics and operations are guided by our vision to be the most customer-centric
                        and valued Information Technology brand in the Industry. Our vision is at the very heart of
                        everything we do.


                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="LeveragingContent">
                    <!-- <h4>Our objective is simple !</h4> -->
                    <p>Since 2009 we have been formalising sustainability strategies for our various business
                        operations. We are adapting confidently to the changing business environment and operational
                        requirements through our robust change management processes, backed up by our value
                        principles.
                    </p>
                    <p>We are determined to optimally utilise our talent pool since they are the most important
                        assets of our company. With our engagement and nurturing strategies for talent along with
                        encouragement and support, we together can make a great contribution for every stakeholder
                        of the company - our clients, business partners, vendors and community.

                    </p>
                    <p>We believe in talent development through encouragement, support and training so that our
                        employees are empowered to conceptualise, develop and implement innovative, futuristic and
                        brilliant solutions for our clients and partners.
                    </p>
                    <p>We have seen a lot of progress in terms of building a stakeholder friendly and sustainable
                        business with our focus on internal and external CSR activities and we will continue our
                        efforts in the same direction.

                    </p>
                </div>
            </div>

        </div>
    </div>
</section>








{% endblock %}