<!-- HEADER
================================================== -->
<header class="bg-dark pt-3 pb-3 d-none d-md-block">
    <div class="container-md">
        <div class="row align-items-center">
            <div class="col">

                <!-- Heading -->
                <h2 class="font-weight-bold text-white mb-2">
                    Admin Panel
                </h2>
            </div>
            <div class="col-auto">
                <!-- Button -->
                <a class="bg-transparent btn btn-sm btn-gray-300-20" href="/admin/sales/dashboard">
                    Sales
                </a>

                <a class="bg-transparent btn btn-sm btn-gray-300-20 mr-2" href="/admin/blog/dashboard">
                    Blogs
                </a>

                <a class="btn btn-sm btn-gray-300-20" href="/admin/logout">
                    Log Out
                </a>

            </div>
        </div> <!-- / .row -->
    </div> <!-- / .container -->
</header>
