<section class="footer_bg page-section heightAuto" style="background-image: url('/static/images/HomePageBg/footer.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="row">
                    <div class="col-md-4 col-6 order-md-1">
                        <div>
                            <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">INDUSTRIES</h4>
                            <ul class="f_menu">
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><a href="{{ url_for('mod_service.banking') }}">Banking</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><a href="{{ url_for('mod_service.insurance') }}">Insurance</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"><a href="{{ url_for('mod_service.education') }}">Education</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"><a href="{{ url_for('mod_service.telecommunications') }}">Telecom</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"><a href="{{ url_for('mod_service.healthcare') }}">Healthcare</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"><a href="{{ url_for('mod_service.lifescience') }}">Life Sciences</a>
                                </li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><a href="{{ url_for('mod_service.retail') }}">Retail</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><a href="{{ url_for('mod_service.automotive') }}">Automotive</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"><a href="{{ url_for('mod_service.media') }}">Media</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"><a href="{{ url_for('mod_service.nonprofit') }}">Non-Profit</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"><a href="{{ url_for('mod_service.government') }}">Government</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"><a href="{{ url_for('mod_service.manufacturing') }}">Manufacturing</a>
                                </li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><a href="{{ url_for('mod_service.logistics') }}">Logistics</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><a href="{{ url_for('mod_service.hotel_food_industry') }}">Hotel & Food</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-6 order-md-2">
                        <div>
                            <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">PRODUCTS</h4>
                            <ul class="f_menu">
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><a href="{{ url_for('mod_product.cedar') }}">Cedar Healthcare</a>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"><a href="{{ url_for('mod_product.pine') }}">Pine CRM</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"><a href="{{ url_for('mod_product.oak') }}">Oak CBS</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"><a href="{{ url_for('mod_product.walnut') }}">Walnut ERP</a></li>
                            </ul>
                        </div>
                        <div>
                            <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">SERVICES</h4>
                            <ul class="f_menu">

                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><a href="{{ url_for('mod_need.ai') }}">Artificial Intelligence</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"><a href="{{ url_for('mod_need.blockchain') }}">Blockchain</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"><a href="{{ url_for('mod_need.iot') }}">Internet of Things</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><a href="{{ url_for('mod_need.analytics') }}">Smart Analytics</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-6">
                        <div>
                            <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">ABOUT</h4>
                            <ul class="f_menu">
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><a href="{{ url_for('mod_about.our_story') }}">Our Values</a>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s"><a href="{{ url_for('mod_about.vision') }}">Vision & Mission</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"><a href="{{ url_for('mod_about.leadership') }}">Leadership</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><a href="{{ url_for('mod_about.investors') }}">Investor Relations</a></li>
                                {#
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"><a href="#">Global Offices</a></li>#}
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"><a href="{{ url_for('career') }}">Careers</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"><a href="{{ url_for('contact') }}">Contact</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><a href="{{ url_for('mod_blog.blog_list') }}">Blog</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a>
                                    <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s"><a href="{{ url_for('mod_about.faq') }}">FAQ</a>
                                    </li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.0s"><a href="{{ url_for('mod_about.sitemap') }}">Sitemap</a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="row tab_view">
                    <div class="col-md-6 col-12">
                        <div>
                            <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">SUBSIDIARIES</h4>
                            <ul class="f_menu">
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"><a href="https://ayatmotors.com/">AYN Industries Ltd</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s"><a href="#">AYN Logistics Pvt Ltd</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"><a target="_blank" href="https://ayninfra.com/">AYN Infrastructure Pvt Ltd</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"><a target="_blank" href="https://ayngroups.com/">AYN Holdings Pvt Ltd</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><a target="_blank" href="https://www.worldteam11.com/">Worldteam11 Fantasy Pvt Ltd</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><a target="_blank" href="https://www.fastpayu.com/#/">Fastpay Online India Pvt Ltd</a></li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><a target="_blank" href="https://www.atzcart.com/">ATZ Cart Pvt Ltd</a></li>


                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="sales_hr">
                            <h4 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">SALES/HR</h4>
                            <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s"><i
                                        class="fa fa-envelope" aria-hidden="true"></i> hr@ayninfotech.com</p>
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"><i
                                        class="fa fa-envelope" aria-hidden="true"></i> sales@ayninfotech.com</p>
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s"><i
                                        class="fa fa-envelope" aria-hidden="true"></i> contact@ayninfotech.com</p>

                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"><i
                                        class="fa fa-envelope" aria-hidden="true"></i> support@ayninfotech.com</p>

                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s"><i
                                        class="fa fa-envelope" aria-hidden="true"></i> info@ayninfotech.com</p>
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"><i
                                        class="fa fa-envelope" aria-hidden="true"></i> admin@ayninfotech.com</p>
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s"><i
                                        class="fa fa-envelope" aria-hidden="true"></i> media@ayninfotech.com</p>
                                <p class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s"><i
                                        class="fa fa-phone" aria-hidden="true"></i> 1800 266 8999</p>
                        </div>
                        <div>
                            <ul class="f_social_icon">
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
                                    <a target="_blank" href="#" rel="nofollow"><img src="/static/images/FooterSocial/facebook.png" alt="Facebook" class="img-fluid"></a>
                                </li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.5s">
                                    <a target="_blank" href="#" rel="nofollow"><img src="/static/images/FooterSocial/instagram.png" alt="Instagram" class="img-fluid"></a>
                                </li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.7s">
                                    <a target="_blank" href="#" rel="nofollow"><img src="/static/images/FooterSocial/linkedin.png" alt="Linkedin" class="img-fluid"></a>
                                </li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.8s">
                                    <a target="_blank" href="#" rel="nofollow"><img src="/static/images/FooterSocial/twitter.png" alt="Twitter" class="img-fluid"></a>
                                </li>
                                <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.9s">
                                    <a target="_blank" href="#" rel="nofollow"><img src="/static/images/FooterSocial/youtube.png" alt="Youtube" class="img-fluid"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <p class="copyright">© Copyright AYN InfoTech Limited. All Rights Reserved 2021.</p>
                </div>
            </div>
        </div>
    </div>
</section>