
<section class="AynWorkStrategies d-flex align-items-center page-section" id="7"
        style="background-image: url('../static/images/Product/1-Home\ –\ 13.png');">
        <div class="container">

                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="">
                                <img src="../static/images/why_ayn/Group 934@2x.png" alt="Grow Career" class="img-fluid">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="LeveragingContent WhyAyN">
                                <h3>Why AYN InfoTech</h3>
                                <p>AYN InfoTech is a leading IT company that has energetic and innovative teams of
                                    developers who are experts in the field of healthcare. Cedar Healthcare is a smart
                                    solution to overcome challenges and set new heights of healthcare services.

                                </p>
                            </div>
                        </div>
                    </div>
        </div>
    </section>