{% extends 'base.html' %}

{% block og_url %}https://www.ayninfotech.com/{{ type }}/thankyou/{% endblock %}
{% block canon %}{{ type }}/thankyou/{% endblock %}

{% block page_title %}Thank You | AYN InfoTech Limited{% endblock %}
{% block custom_css %}
{% block content %}


<section class="AynHeroImg page-section" id="1"
        style="background-image: url('/static/images/thankyou/17-Thankyou\ –\ 1@2x.png');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-12 text-center img404">
                </div>
            </div>
        </div>
</section>
{% endblock content %}
{% endblock %}